<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>질문 답변</title>
    <link rel="stylesheet" href="../../css/board/boardList.css">
    <link rel="stylesheet" href="../../css/board/boardDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <link rel="shortcut icon" href="#">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!--<script>
        $(function(){
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>-->
</head>
<body>
    <!-- header 작성 -->
    <header>
        <div class="headWrapper">
            <div class="navigation_wrap">
                <div class="navigation_left">
                    <a th:href="@{/main/main}" class="navigation_logo">HOT6</a>
                </div>
                <div class="navigation_right">
                    <ul class="menu">
                        <li><a th:href="@{/board/problemList}">오늘의 문제</a></li>
                        <li><a th:href="@{/board/contestList}">대회</a></li>
                        <li><a th:href="@{/rank/ranking}">랭킹</a></li>
                        <li><a th:href="@{/board/boardList}">게시판</a></li>
                    </ul>
                </div>
                <div class="login">
                    <span th:if="${session.userEmail} == null" class="loginYet">
                        <a th:href="@{/login/login}" class="btn_login">로그인 / 회원가입</a>
                    </span>
                    <span class="loginOk" th:unless="${session.userEmail} == null">
                        <a th:if="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/admin/adm_todayList}" th:text="${userEmail}" class="loginOk_font"></a>
                        <a th:unless="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/mypage/myPageMain}" th:text="${userEmail}" class="loginOk_font"></a>
                        <a th:href="@{/mypage/ask}" class="loginOk_font">문의하기</a>
                        <a th:href="@{/login/logout}" class="btn_login">로그아웃</a>
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="base">
        <div class="container">
            <div class="bannerContainer">
                <div class="banner">
                    <div class="bannerContent">
                        <div class="bannerImageContainer">
                            <img src="https://media.a-ha.io/aha-qna/categories/logos/category_commonsense.png?v=1.2" alt="정보공유" class="bannerImage">
                        </div>
                        <div class="bannerTextContainer">
                            <div>
                                <span class="title">정보공유</span>
                                <span class="description">누구나 질문! 누구나 답변!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContainer" style="height: 700px;">
                <div class="mainContent">
                    <div class="leftSideContainer">
                        <ul class="leftSide">
                            <li><a href="#">홈</a></li>
                            <li>
                                <hr style="margin-top: 12px; border-top: 2px dashed rgb(222, 222, 222);">
                                <a class="todayProblems" href="#">오늘의 문제</a><br>
                                <a class="contestProblems" href="#">대회 문제</a>
                            </li>
                        </ul>
                    </div>

                    <div class="questionContainer">
                        <div class="questionAnswer">
                            <article class="question" th:object="${board}">
                                <div class="questionDetailContent">
                                    <div class="questionTitle">
                                        <h1 class="questionDetailTitle" data-v-19dc2878="" data-v-6d4e7017="">

                                            <a class="boardDetail" th:text="*{boardTitle}"/>
                                            <a class="boardNumber" th:text="*{boardNumber}" style="display: none"/>
                                        </h1>
                                        <div class="questionInfo">
                                            <div class="userId" th:text="*{userNickName}">
                                            </div>
                                            <span class="questionTime" th:text="*{boardDate}"></span>
                                        </div>
                                    </div>
                                    <div class="questionContentContainer">
                                        <p th:text="*{boardContent}"></p>
                                    </div>

                                </div>
                            </article>

                            <section>
                                <button class="btnAnswer">답변하기</button>

                                <div class="paging" style="text-align: center"></div>

                            </section>
                        </div>
                        <div class="writeContainer">
                            <button class="btnUpdate">수정하기</button>
                            <button class="btnDelete">삭제하기</button>
                            <button class="btnWrite">나도 질문하기</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
<!--    <footer class="mainFooter">-->
<!--        <div class="footer_wrap">-->
<!--            <div class="footer_content">-->
<!--                <ul class="footer_list_top">-->
<!--                    <li class="list_style top_font">-->
<!--                        <span>(미정)소개</span>-->
<!--                    </li>-->
<!--                    <li class="list_style top_font">-->
<!--                        <span>이용약관</span>-->
<!--                    </li>-->
<!--                    <li class="list_style top_font">-->
<!--                        <span>개인정보처리방침</span>-->
<!--                    </li>-->
<!--                    <li class="list_style top_font">-->
<!--                        <span>출제 문의</span>-->
<!--                    </li>-->
<!--                    <li class="list_style top_font">-->
<!--                        <span>광고 문의</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="footer_list_middle">-->
<!--                    <li class="list_style">-->
<!--                        <span class="middle_font">팀명 : 핫식스</span>-->
<!--                    </li>-->
<!--                    <li class="list_style">-->
<!--                        <span class="middle_font">프로젝트명 : 미정</span>-->
<!--                    </li>-->
<!--                    <li class="list_style">-->
<!--                        <span class="middle_font">프로젝트 깃허브</span>-->
<!--                    </li>-->
<!--                    <li class="list_style">-->
<!--                        <span class="middle_font">팀장 : 고진혁</span>-->
<!--                    </li>-->
<!--                    <li class="list_style">-->
<!--                        <span class="middle_font">팀원 : 김효범 도희정 황영택</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div class="footer_bottom">-->
<!--                    @ 2022 Hot6. All rights reserved.-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/reply.js"></script>
<script th:inline="javascript">

    const $delete = $("button.btnDelete");
    const $update = $("button.btnUpdate");


    $delete.on("click", function(e){
        e.preventDefault();
        location.href = "/board/boardDelete?boardNumber=" + $("a.boardNumber").text();
    });

    $update.on("click", function(e){
        e.preventDefault();
        location.href = "/board/boardUpdate?boardNumber=" + $("a.boardNumber").text();
    });
    let boardNumber = [[${board.boardNumber}]];
    let queryString = [[${criteria.queryString}]];
    let check = true;
    globalThis.page = 1;

    getList();

    function goUpdate(){
        location.href = "/board/update" + queryString + "&boardNumber=" + boardNumber;
    }

    $("a.list").on("click", function(e){
        e.preventDefault();
        location.href = "/board/list" + queryString;
    });

    $("a.register").on("click", function(e){
        e.preventDefault();
        $(this).hide();
        $("div.register-form").show();

    });

    $("a.cancel").on("click", function(e){
        e.preventDefault();
        $("div.register-form").hide();
        $("a.register").show();
    });

    $("a.finish").on("click", function(e){
        e.preventDefault();
        let $replyWriter = $("input[name='replyWriter']");
        let $replyContent = $("textarea[name='replyContent']");

        replyService.add({
            replyWriter: $replyWriter.val(),
            replyContent: $replyContent.val(),
            boardNumber: boardNumber
        }, function(){
            $("div.register-form").hide();
            $("a.register").show();
            $replyWriter.val("");
            $replyContent.val("");
            getList();
        });
    });

    function getList(){
        replyService.getList({
            boardNumber: boardNumber,
            page: globalThis.page
        }, showList);
    }

    function showReplyPage(replyCount){
        let endNumber = Math.ceil(globalThis.page / 10) * 10;
        let startNumber = endNumber - 9;
        let realEnd = Math.ceil(replyCount / 10);

        if(endNumber > realEnd){
            endNumber = realEnd == 0 ? '1' : realEnd;
        }

        let prev = startNumber > 1;
        let next = endNumber < realEnd;

        let text = "";

        if(matchMedia("screen and (max-width: 918px)").matches){
            if(globalThis.page > 1){
                text += `<a class="changePage" href="` + (globalThis.page - 1) + `"><code><</code></a>`
            }
            text += `<code>` + globalThis.page + `</code>`
            if(globalThis.page < realEnd){
                text += `<a class="changePage" href="` + (globalThis.page + 1) + `"><code>></code></a>`
            }
        }else{
            if(prev){
                text += `<a class="changePage" href="` + (startNumber - 1) + `"><code>PREV</code></a>`
            }
            for (let i=startNumber; i<=endNumber; i++){
                if(globalThis.page == i){
                    text += `<code>` + i + `</code>`
                    continue;
                }
                text += `<a class="changePage" href="` + i + `"><code>` + i + `</code></a>`
            }
            if(next){
                text += `<a class="changePage" href="` + (endNumber + 1) + `"><code>NEXT</code></a>`
            }
        }



        $("div.paging").html(text);
    }

    $("div.paging").on("click", "a.changePage", function(e){
        e.preventDefault();
        globalThis.page = $(this).attr("href");
        getList();
    });

    function showList(replyDTO){
        let text = "";
        replyDTO.replies.forEach(reply => {
            text += "<li style='display: block' data-reply-number='" + reply.replyNumber + "'>";
            text += "<div style='display: flex; justify-content: space-between;'>";
            text += "<strong style='display:block;'>" + reply.userNickname + "</strong>";
            text += "<div>";
            text += "<a class='modify-ready " + reply.replyNumber + "' style='cursor: pointer;'>수정</a>"
            text += "<a class='modify " + reply.replyNumber + "' style='display: none; cursor: pointer;'>수정완료</a>"
            text += "&nbsp;&nbsp;<a class='remove' href='" + reply.replyNumber + "'>삭제</a>"
            text += "</div>";
            text += "</div>";
            text += "<div style='display: flex; justify-content: space-between'>";
            text += "<p class='replyContent " + reply.replyNumber + "'>" + reply.replyContent + "</p>";
            text += "<p style='text-align: right;'><strong class='date'>";
            text += replyService.timeForToday(reply.replyRegisterDate == reply.replyUpdateDate ? reply.replyRegisterDate : reply.replyUpdateDate);
            text += "</strong></p>";
            text += "</div>";
            text += "<div class='line'></div>";
            text += "</li>";
        });
        $("ul.replies").html(text);
        showReplyPage(replyDTO.replyCount);
    }

    $("ul.replies").on("click", "a.remove", function(e){
        e.preventDefault();
        let replyNumber = $(this).attr("href");
        replyService.remove(replyNumber, function(){
            getList();
        });
    });

    $("ul.replies").on("click", "a.modify-ready", function(){
        if(!check){
            alert("수정중인 댓글이 있습니다.");
            return;
        }
        check = false;
        let replyNumber = this.classList[1];
        $("p." + replyNumber).replaceWith("<textarea class='" + replyNumber + "'>" + $("p." + replyNumber).text() + "</textarea>");
        $(this).next().next().replaceWith("<a class='modify-cancel'>취소</a>")
        $(this).hide();
        $(this).next().show();
    });

    $("ul.replies").on("click", "a.modify-cancel", function(){
        getList();
    });

    $("ul.replies").on("click", "a.modify", function(){
        let replyNumber = this.classList[1];
        replyService.modify({
            replyNumber: replyNumber,
            replyContent: $("textarea." + replyNumber).val()
        }, function(){
            getList();
            check = true;
        });
    });

</script>
</body>
</html>
