<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 해설</title>
    <link rel="stylesheet" href="../../css/board/problemDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>
</head>
<body style="height: 100%;">
<!-- header 작성 -->
<header>
    <div class="headWrapper">
        <div class="navigation_wrap">
            <div class="navigation_left">
                <a th:href="@{/main/main}" class="navigation_logo">HOT6</a>
            </div>
            <div class="navigation_right">
                <ul class="menu">
                    <li><a th:href="@{/board/problemList}">오늘의 문제</a></li>
                    <li><a th:href="@{/board/contestList}">대회</a></li>
                    <li><a th:href="@{/rank/ranking}">랭킹</a></li>
                    <li><a th:href="@{/board/boardList}">게시판</a></li>
                </ul>
            </div>
            <div class="login">
                    <span th:if="${session.userEmail} == null" class="loginYet">
                        <a th:href="@{/login/login}" class="btn_login">로그인 / 회원가입</a>
                    </span>
                <span class="loginOk" th:unless="${session.userEmail} == null">
                        <a th:if="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/admin/adm_todayList}" th:text="${userEmail}" class="loginOk_font"></a>
                        <a th:unless="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/mypage/myPageMain}" th:text="${userNickname}" class="loginOk_font"></a>
                        <a th:href="@{/mypage/ask}" class="loginOk_font">문의하기</a>
                        <a th:href="@{/login/logout}" class="btn_login">로그아웃</a>
                    </span>
            </div>
        </div>
    </div>
</header>

<div class="base" style="min-height: 100%; margin: -68px 0 -210px;">
    <div class="container">
        <th:block th:each="todayQuiz:${todayQuizList}">
            <div class="mainbox" th:object="${todayQuiz}" style="margin-bottom: 12px;">
                <div class="mainboxHeader box">
                    <div>
                        <!-- 대회일때는 span태그안에 글자가 "대회"가 되도록 변경 -->
                        <!-- a태그에 링크도 대회목록 url로 변경 -->
                        <a class="category" th:text="*{quizTheme}==0 ? '오늘의 문제' : '대회'"></a>
                    </div>
                    <h2 class="title" th:text="*{quizTitle}">메모하는 남자</h2>
                    <div class="questionInfo">
                        <span class="questionTime" th:text="*{quizRegisterDate}">2022.02.03</span>
                        <!--                        <div class="questionFile">-->
                        <!--                            첨부파일-->
                        <!--                            <a href="#"></a>-->
                        <!--                        </div>-->
                    </div>
                    <hr>
                </div>
                <div class="mainboxBody box">
                    <p th:text="*{quizOne}">④ 친구A</p>
                    <p th:text="*{quizCommentary}">세시 십칠분, 즉 시계화면의 3, 1, 7을 거꾸로 하면 영어단어 ‘LIE’와 같은 모습이 된다.
                        소설 속 주인공이 죽어가는 순간에도 온 힘을 다해 시간 설정 버튼을 눌러 숫자를 조작했던 건 숫자로 이 단어를 만들기 위해서였다.
                        그리고 용의자 중에서 ‘LIE’(거짓말)를 구체적으로 연상시키는 사람은 ‘④ 친구A’뿐이다.
                        사기꾼인 점도 그렇지만, 그의 습관인 셋째 손가락 위로 둘째 손가락을 꼬는 습관은 미국에서 거짓말을 뜻하는 행동이다.
                        물론 행운을 비는 의미도 있지만, 사기꾼에게 어울리는 건 역시 거짓말 쪽이다.</p>
                </div>
            </div>
        </th:block>
    </div>
</div>
<footer class="mainFooter" style="height: auto;">
    <div class="footer_wrap">
        <div class="footer_content">
            <ul class="footer_list_top">
                <li class="list_style top_font">
                    <span>(미정)소개</span>
                </li>
                <li class="list_style top_font">
                    <span>이용약관</span>
                </li>
                <li class="list_style top_font">
                    <span>개인정보처리방침</span>
                </li>
                <li class="list_style top_font">
                    <span>출제 문의</span>
                </li>
                <li class="list_style top_font">
                    <span>광고 문의</span>
                </li>
            </ul>
            <ul class="footer_list_middle">
                <li class="list_style">
                    <span class="middle_font">팀명 : 핫식스</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트명 : 미정</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트 깃허브</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀장 : 고진혁</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                </li>
            </ul>
            <div class="footer_bottom">
                @ 2022 Hot6. All rights reserved.
            </div>
        </div>
    </div>
</footer>
</body>
<script th:inline="javascript">
    // let queryString = [[${criteria.queryString}]];


</script>
</html>