<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문제 상세</title>
    <link rel="stylesheet" href="../../css/board/problemDetail.css">
    <link rel="stylesheet" href="../../css/main/header.css">
    <link rel="stylesheet" href="../../css/main/footer.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $("#header").load("../main/header.html");
            $("#footer").load("../main/footer.html");
        });
    </script>
</head>
<body>
<!-- header 작성 -->
<header>
    <div class="headWrapper">
        <div class="navigation_wrap">
            <div class="navigation_left">
                <a th:href="@{/main/main}" class="navigation_logo">HOT6</a>
            </div>
            <div class="navigation_right">
                <ul class="menu">
                    <li><a th:href="@{/board/problemList}">오늘의 문제</a></li>
                    <li><a th:href="@{/board/contestList}">대회</a></li>
                    <li><a th:href="@{/rank/ranking}">랭킹</a></li>
                    <li><a th:href="@{/board/boardList}">게시판</a></li>
                </ul>
            </div>
            <div class="login">
                    <span th:if="${session.userEmail} == null" class="loginYet">
                        <a th:href="@{/login/login}" class="btn_login">로그인 / 회원가입</a>
                    </span>
                <span class="loginOk" th:unless="${session.userEmail} == null">
                        <a th:if="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/admin/adm_todayList}" th:text="${userEmail}" class="loginOk_font"></a>
                        <a th:unless="${session.userEmail} == 'admin@naver.com'"
                           th:href="@{/mypage/myPageMain}" th:text="${userNickname}" class="loginOk_font"></a>
                        <a th:href="@{/mypage/ask}" class="loginOk_font">문의하기</a>
                        <a th:href="@{/login/logout}" class="btn_login">로그아웃</a>
                    </span>
            </div>
        </div>
    </div>
</header>

<div class="base">
    <div class="container" id="container-wrapper">
        <form method="post" th:action="@{/board/problemDetail}" id="writeForm">

            <th:block th:each="todayQuiz:${todayQuizList}">
                <div class="mainbox" th:object="${todayQuiz}" style="margin-bottom: 12px;">
                    <div class="mainboxHeader box">
                        <div>

                            <a class="category" th:text="*{quizTheme}==0 ? '오늘의 문제' : '대회'"></a>
                        </div>
                        <h2 class="title" th:text="*{quizTitle}">제 572회 추리퀴즈 - [ 나지막한 콧노래 ]</h2>
                        <div class="questionInfo">
                            <span class="questionTime" th:text="*{quizRegisterDate}">2022.02.03</span>
                            <input type="hidden" name="quizList" th:value="*{quizList}">     <!--컨트롤러에 값 넘겨주기위해-->
                            <input type="hidden" name="quizNumber" th:value="*{quizNumber}" class="quizNumberCount">   <!--컨트롤러에 값 넘겨주기위해-->

                        </div>
                        <hr>
                    </div>
                    <div class="mainboxBody box" th:text="*{quizContent}"></div>
                    <div class="answerbox box">
                        <div class="answerSheet">
                            <input type="hidden" name="quizType" th:value="*{quizType}" class="quizTypes">
                            <div th:if="*{quizType} == '1'" class="short" >

                                <textarea class="question" placeholder="정답 입력" ></textarea>
                            </div>
                            <div th:if="*{quizType} == '0'" class="multiple">

                                <div th:if="*{quizTwo}!=null">
                                    <!--                                    <input type="radio" name="quizNumber" th:id="*{quizNumber + quizTwo}" th:value="*{quizTwo}">-->
                                    <input type="radio" th:id="*{quizNumber + quizTwo}" th:name="*{quizNumber}" th:value="*{quizTwo}">
                                    <label th:for="*{quizNumber + quizTwo}" th:text="'① ' + *{quizTwo}">① 건물 관리인</label>
                                </div>
                                <div th:if="*{quizThree}!=null">
                                    <!--                                    <input type="radio" name="quizNumber" th:id="*{quizNumber + quizThree}" th:value="*{quizThree}">-->
                                    <input type="radio" th:id="*{quizNumber + quizThree}" th:name="*{quizNumber}" th:value="*{quizThree}">
                                    <label th:for="*{quizNumber + quizThree}" th:text="'② ' + *{quizThree}">② 동업자</label>
                                </div>
                                <div th:if="*{quizFour}!=null">
                                    <!--                                    <input type="radio" name="quizNumber" th:id="*{quizNumber + quizFour}" th:value="*{quizFour}">-->
                                    <input type="radio" th:id="*{quizNumber + quizFour}" th:name="*{quizNumber}" th:value="*{quizFour}">
                                    <label th:for="*{quizNumber + quizFour}" th:text="'③ ' + *{quizFour}">③ 부인</label>
                                </div>
                                <div th:if="*{quizFive}!=null">
                                    <!--                                    <input type="radio" name="quizNumber" th:id="*{quizNumber + quizFive}" th:value="*{quizFive}">-->
                                    <input type="radio" th:id="*{quizNumber + quizFive}" th:name="*{quizNumber}" th:value="*{quizFive}">
                                    <label th:for="*{quizNumber + quizFive}" th:text="'④ ' + *{quizFive}">④ 친구A</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <button type="submit" class="btnAnswer">제출</button>
        </form>
    </div>
</div>
<footer class="mainFooter" style="height: auto;">
    <div class="footer_wrap">
        <div class="footer_content">
            <ul class="footer_list_top">
                <li class="list_style top_font">
                    <span>(미정)소개</span>
                </li>
                <li class="list_style top_font">
                    <span>이용약관</span>
                </li>
                <li class="list_style top_font">
                    <span>개인정보처리방침</span>
                </li>
                <li class="list_style top_font">
                    <span>출제 문의</span>
                </li>
                <li class="list_style top_font">
                    <span>광고 문의</span>
                </li>
            </ul>
            <ul class="footer_list_middle">
                <li class="list_style">
                    <span class="middle_font">팀명 : 핫식스</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트명 : 미정</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">프로젝트 깃허브</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀장 : 고진혁</span>
                </li>
                <li class="list_style">
                    <span class="middle_font">팀원 : 김효범 도희정 황영택</span>
                </li>
            </ul>
            <div class="footer_bottom">
                @ 2022 Hot6. All rights reserved.
            </div>
        </div>
    </div>
</footer>
</body>
<script th:inline="javascript">
    function answer(){
        let counts = document.querySelectorAll('.quizNumberCount');
        let quizTypes = document.querySelectorAll('.quizTypes');
        let answerTextareas = document.querySelectorAll('textarea.question');
        let shorts = document.querySelectorAll('input[type="radio"]');



        let answerList = [];

        for(let i = 0; i< shorts.length; i++){
            let answer = shorts[i];
            if(answer.checked){
                let answerValue = answer.value;
                answerList.push(answerValue);
            }
        }
        for(let i = 0; i < answerTextareas.length; i++) {
            let answer = answerTextareas[i];
            let answerValue = answer.value;
            answerList.push(answerValue);
        }

        for(let i = 0; i< counts.length; i++){

            let MyQuizVO = {
                quizNumber: counts[i].value,
                myQuizUserAnsOne: answerList[i],
            };

            $.ajax({
                url: "/board/problemDetail",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(MyQuizVO),
                success: function(response) {
                    console.log("들어옴2");
                    // 요청이 성공적으로 완료된 후 실행될 코드 작성
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // 요청이 실패한 경우 실행될 코드 작성
                }
            });
        }


        console.log(answerList);


    }
    document.querySelector('.btnAnswer').addEventListener('click', function(e) {
        e.preventDefault();

        answer();
        let quizList = document.querySelectorAll('input[name=quizList]')[0].value;;
        window.location.href =  "/board/problemDetailOk" + "?quizList=" + quizList;

    });



</script>
</html>